# Google Analytics Measurement ID
# Get this from your Google Analytics account: https://analytics.google.com
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Sentry DSN
# Get this from your Sentry project settings: https://sentry.io
VITE_SENTRY_DSN=https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@o0000000.ingest.sentry.io/0000000
